body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landingBtn {
  width: 100%;
  border-radius: 20px;
  letter-spacing: 1.5px;
}

.container {
  background: #fff;
  padding: 3rem 0;
  border-radius: 15px;
  width: 75%;
  margin-bottom: 10rem;
}

.navbar-fixed {
  margin-bottom: 2rem;
}

h2 {
  font-weight: 900 !important;
}


@media screen and (max-width: 767px) {
  .container {
    width: 85%;
  }
}
